<div
  class="container py-3 infinite-scroll"
  ngxInfiniteScroller
  strategy="scrollingToBottom"
  (onScrollDown)="onScrollDown()"
>
  <app-custom-title title="Fotos"></app-custom-title>
  <div class="row">
    <button
      mat-raised-button
      color="primary"
      class="col mt-2"
      (click)="goBack()"
    >
      Volver
    </button>
  </div>
  <div class="row">
    <div class="col col-sm-6 col-lg-4 mt-3" *ngFor="let photo of photos">
      <mat-card class="d-flex h-100 flex-column">
        <mat-card-title-group>
          <mat-card-title>Foto: {{ photo.title }}</mat-card-title>
          <mat-card-subtitle>Album: {{ photo.albumId }}</mat-card-subtitle>
        </mat-card-title-group>
        <div class="p-3 d-flex flex-column h-100 justify-content-end">
          <img
            class="img-fluid btn p-0"
            [src]="photo.url"
            alt="{{ photo.title }}"
            (click)="openDialogOfPhoto(photo.id)"
          />
          <button
            mat-raised-button
            color="warn"
            class="mt-3"
            (click)="deletePhoto(photo.id)"
          >
            <mat-icon>delete</mat-icon>
            Eliminar foto
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
