<div class="container py-3">
  <div>
    <h1 class="text-left">Usuarios</h1>
    <mat-divider></mat-divider>
  </div>
  <div class="row">
    <div class="col-4 mt-3">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-icon mat-card-avatar>person</mat-icon>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          <p [@bodyExpansion]="state" class="expandable-content">
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="toggle()" color="primary">Ver más</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
